<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/super_boot_user</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="org.superboot.dao.sql.business.UcenterRole"/>
      <mapping resource="org/superboot/dao/sql/business/UcenterRole.hbm.xml"/>
      <mapping class="org.superboot.dao.sql.business.UcenterUser"/>
      <mapping resource="org/superboot/dao/sql/business/UcenterUser.hbm.xml"/>
      <mapping class="org.superboot.dao.sql.business.UcenterUserRole"/>
      <mapping resource="org/superboot/dao/sql/business/UcenterUserRole.hbm.xml"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>